# Node
node_modules
dist
build
.npm
pnpm-lock.yaml

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea
.vscode
*.code-workspace

# Tauri
apps/desktop/src-tauri/target
apps/desktop/src-tauri/Cargo.lock

# Android
apps/android/.gradle
apps/android/build
apps/android/app/build

# Env
.env
.env.*
!.env.example

# Turbo
.turbo